.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

.preview {
  margin-left: 40px;
  margin-right: 40px;
}

.pad {
  padding-top: 20px;
  padding-bottom: 10px;
}
.preview1 {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}

#projects {
  background-color: #e2edff;
}
.detail1 {
  padding: 50px;
}

.varian2 {
  text-align: center;
  font-weight: bold;
  text-decoration-style: none;
  font-weight: 900;
  font-size: larger;
}

section {
  padding-top: 60px;
}

marquee {
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  background-color: greenyellow;
}

footer {
  background-color: greenyellow;
  padding-bottom: 2px;
}

.video {
  text-align: center;
  padding-top: 100px;
}

.row {
  text-align: justify;
}

.isivaksin {
  padding-top: 40px;
}

.sumber {
  text-align: right;
  font-style: italic;
}

.navbar-brand {
  font-size: 22px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 15s steps(170, end);
  animation: bounce 15s steps(170, end);
}

@keyframes bounce {
  from {
    width: 0;
  }
}

@-webkit-keyframes bounce {
  from {
    width: 0;
  }
}
